@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet');

body {
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    color: slategray;
    }
    
/* Header and footer */
    
header {
    text-align: center;
    font-size: 30px;
    }

h1{
    font-family: "Righteous", sans-serif;
    color: #2c16b2;
    text-transform: none;
    }

h2 {
    font-family: "Righteous", sans-serif;
    color: #2c16b2;
    text-transform: none;
    }

h3 {
    font-family: "Righteous", sans-serif;
    color: #f85824;
    font-size: 20px;
    text-transform: none;
    }

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
}

/* game area */

.game-area {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

#main-image {
    width: 100%;
    height: auto;
    text-align: center;
}

.action_button1{
    background-color: #1680b2;
    color: black;
    padding: 10px;
}

.action_button2{
    background-color: #f85824;
    color: black;
    padding: 10px;
}

.action_button3{
    background-color: #f2e642;
    color: black;
    padding: 10px;
}

.action_button4{
    background-color: #e57df8;
    color: black;
    padding: 10px;
}

.action_button5{
    background-color: #a2f87d;
    color: black;
    padding: 10px;
}